body {
  margin: 0;
  font-family: Consolas, 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: lightcyan;
  background-color: black;
  padding: 1rem 2rem;
}
